# This is a leveradge levels visualization
- We will visualize levels from 2x to 20x
- Every level will display percentage from 0.5 to 20% as a gain and loss

In [17]:
leverage = 3

import pandas as pd
import seaborn as sns

import ipywidgets as widgets
from ipywidgets import interact, interact_manual

table = []
table_heatmap = []
percentages = [0.25, 0.5, 0.75, 1, 1.25, 1.5, 2, 3, 4, 5, 10, 15, 20]

for i in range(1, 10):
  position = i * 10
  margin = position * leverage

  row = [position, margin]
  row_heatmap = []
  for j in percentages:
    row.append(margin * j/100)
    row_heatmap.append(margin * j/100)

  table.append(row)
  table_heatmap.append(row_heatmap)

cols = ['POSITION', 'MARGIN'] + [str(i) for i in percentages]

print('')
print('LEVERADGE x' + str(leverage) + ', LIQUIDATION '+str(100/leverage)+' %')

df = pd.DataFrame(table, columns = cols)
counts = df.apply(pd.value_counts)

heading_properties = [('font-size', '16px'),
                      ('background-color', 'black'),
                      ('color', 'white'),
                      ('font-family', 'Monaco')]

cell_properties = [('font-size', '16px'),
                   ('font-family', 'Monaco')]

dfstyle = [dict(selector="th", props=heading_properties),
           dict(selector="td", props=cell_properties)]

# sns.heatmap(table_heatmap, cmap="GnBu", annot=True)

df.style
df.style.set_table_styles(dfstyle).format(precision=1, na_rep='MISSING', thousands=",").set_properties(**{'background-color': 'black', 'color': 'white'}, subset=['POSITION', 'MARGIN']).hide_index()

LEVERADGE x3, LIQUIDATION 33.333333333333336 %

In [18]:
leverage = 4

import pandas as pd
import seaborn as sns

import ipywidgets as widgets
from ipywidgets import interact, interact_manual

table = []
table_heatmap = []
percentages = [0.25, 0.5, 0.75, 1, 1.25, 1.5, 2, 3, 4, 5, 10, 15, 20]

for i in range(1, 10):
  position = i * 10
  margin = position * leverage

  row = [position, margin]
  row_heatmap = []
  for j in percentages:
    row.append(margin * j/100)
    row_heatmap.append(margin * j/100)

  table.append(row)
  table_heatmap.append(row_heatmap)

cols = ['POSITION', 'MARGIN'] + [str(i) for i in percentages]

print('')
print('LEVERADGE x' + str(leverage) + ', LIQUIDATION '+str(100/leverage)+' %')

df = pd.DataFrame(table, columns = cols)
counts = df.apply(pd.value_counts)

heading_properties = [('font-size', '16px'),
                      ('background-color', 'black'),
                      ('color', 'white'),
                      ('font-family', 'Monaco')]

cell_properties = [('font-size', '16px'),
                   ('font-family', 'Monaco')]

dfstyle = [dict(selector="th", props=heading_properties),
           dict(selector="td", props=cell_properties)]

# sns.heatmap(table_heatmap, cmap="GnBu", annot=True)

df.style
df.style.set_table_styles(dfstyle).format(precision=1, na_rep='MISSING', thousands=",").set_properties(**{'background-color': 'black', 'color': 'white'}, subset=['POSITION', 'MARGIN']).hide_index()

LEVERADGE x4, LIQUIDATION 25.0 %

In [19]:
leverage = 5

import pandas as pd
import seaborn as sns

import ipywidgets as widgets
from ipywidgets import interact, interact_manual

table = []
table_heatmap = []
percentages = [0.25, 0.5, 0.75, 1, 1.25, 1.5, 2, 3, 4, 5, 10, 15, 20]

for i in range(1, 10):
  position = i * 10
  margin = position * leverage

  row = [position, margin]
  row_heatmap = []
  for j in percentages:
    row.append(margin * j/100)
    row_heatmap.append(margin * j/100)

  table.append(row)
  table_heatmap.append(row_heatmap)

cols = ['POSITION', 'MARGIN'] + [str(i) for i in percentages]

print('')
print('LEVERADGE x' + str(leverage) + ', LIQUIDATION '+str(100/leverage)+' %')

df = pd.DataFrame(table, columns = cols)
counts = df.apply(pd.value_counts)

heading_properties = [('font-size', '16px'),
                      ('background-color', 'black'),
                      ('color', 'white'),
                      ('font-family', 'Monaco')]

cell_properties = [('font-size', '16px'),
                   ('font-family', 'Monaco')]

dfstyle = [dict(selector="th", props=heading_properties),
           dict(selector="td", props=cell_properties)]

# sns.heatmap(table_heatmap, cmap="GnBu", annot=True)

df.style
df.style.set_table_styles(dfstyle).format(precision=1, na_rep='MISSING', thousands=",").set_properties(**{'background-color': 'black', 'color': 'white'}, subset=['POSITION', 'MARGIN']).hide_index()

LEVERADGE x5, LIQUIDATION 20.0 %

In [15]:
leverage = 10

import pandas as pd
import seaborn as sns

table = []
table_heatmap = []
percentages = [0.25, 0.5, 0.75, 1, 1.25, 1.5, 2, 3, 4, 5, 10, 15, 20]

for i in range(1, 10):
  position = i * 10
  margin = position * leverage

  row = [position, margin]
  row_heatmap = []
  for j in percentages:
    row.append(margin * j/100)
    row_heatmap.append(margin * j/100)

  table.append(row)
  table_heatmap.append(row_heatmap)

cols = ['POSITION', 'MARGIN'] + [str(i) for i in percentages]

print('')
print('LEVERADGE x' + str(leverage) + ', LIQUIDATION '+str(100/leverage)+' %')

df = pd.DataFrame(table, columns = cols)
counts = df.apply(pd.value_counts)

heading_properties = [('font-size', '16px'),
                      ('background-color', 'black'),
                      ('color', 'white'),
                      ('font-family', 'Monaco')]

cell_properties = [('font-size', '16px'),
                   ('font-family', 'Monaco')]

dfstyle = [dict(selector="th", props=heading_properties),
           dict(selector="td", props=cell_properties)]

# sns.heatmap(table_heatmap, cmap="GnBu", annot=True)

df.style
df.style.set_table_styles(dfstyle).format(precision=1, na_rep='MISSING', thousands=",").set_properties(**{'background-color': 'black', 'color': 'white'}, subset=['POSITION', 'MARGIN']).hide_index()

LEVERADGE x10, LIQUIDATION 10.0 %

In [16]:
leverage = 20

import pandas as pd
import seaborn as sns

table = []
table_heatmap = []
percentages = [0.25, 0.5, 0.75, 1, 1.25, 1.5, 2, 3, 4, 5, 10, 15, 20]

for i in range(1, 10):
  position = i * 10
  margin = position * leverage

  row = [position, margin]
  row_heatmap = []
  for j in percentages:
    row.append(margin * j/100)
    row_heatmap.append(margin * j/100)

  table.append(row)
  table_heatmap.append(row_heatmap)

cols = ['POSITION', 'MARGIN'] + [str(i) for i in percentages]

print('')
print('LEVERADGE x' + str(leverage) + ', LIQUIDATION '+str(100/leverage)+' %')

df = pd.DataFrame(table, columns = cols)
counts = df.apply(pd.value_counts)

heading_properties = [('font-size', '16px'),
                      ('background-color', 'black'),
                      ('color', 'white'),
                      ('font-family', 'Monaco')]

cell_properties = [('font-size', '16px'),
                   ('font-family', 'Monaco')]

dfstyle = [dict(selector="th", props=heading_properties),
           dict(selector="td", props=cell_properties)]

# sns.heatmap(table_heatmap, cmap="GnBu", annot=True)

df.style
df.style.set_table_styles(dfstyle).format(precision=1, na_rep='MISSING', thousands=",").set_properties(**{'background-color': 'black', 'color': 'white'}, subset=['POSITION', 'MARGIN']).hide_index()

LEVERADGE x20, LIQUIDATION 5.0 %